.header-detail-thi{
	position: absolute;
	top: 50%;    
	left: 50%;    
	margin-right: -50%;    
	transform: translate(-50%, -50%)
}
.label-detail-thi{ 
	position: absolute;    
	top: 75%;    
	left: 50%;    
	margin-right: -50%;    
	transform: translate(-50%, -50%)
}
.line-label-detail{
	text-align: center;
	color: white;
	font-size: 13px;
	
	font-weight: bold;
}
.line-below{
	color: #888888;
	font-size: 13px;
	text-align: center;
}
.success-login{
	background: LightSeaGreen;
	color: white;
}
.fail-login{
	background: SandyBrown;
}